server:
  port: 8080
  servlet:
    context-path: /ems-thymeleaf

spring:
  servlet:
    multipart:
      max-file-size: 120MB
      max-request-size: 120MB
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
  mail:
    host: smtp10.gmoserver.jp
    username: test@naki.co.jp
    password: namiki888$
    properties:
      from: test@naki.co.jp
    port: 587

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ems?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=GMT%2B8
    username: root
    password: 123456
  web:
    resources:
      static-locations: classpath:/static/,file:${file.resume.dir}


mybatis:
    mapper-locations: classpath:com/thymeleaf/mapper/*.xml
    type-aliases-package: com.example.ems_thymeleaf.entity



logging:
  level:
      root: info
      com.example.ems_thymeleaf: debug

file:
  resume:
    dir: D:\软件\ems_thymeleaf\resume








