<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
		<title>更新员工信息</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/style.css}" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						社員情報の更新:
					</h1>
					<form method="post" th:object="${employee}" enctype="multipart/form-data">
						<table class="form_table">
							<tr>
								<td>
									社員番号：
								</td>
								<td>
									<span th:text="${employee.emplyee_id}"></span>
									<input type="hidden"  th:field="*{emplyee_id}"/>
								</td>
							</tr>
							<tr>
								<td>
									社員名：
								</td>
								<td>
									<input type="text" class="inputgri"   th:field="*{employee_name}"/>
								</td>
							</tr>
							<tr>
								<td>
									パスワード:
								</td>
								<td>
									<input type="text" class="inputgri" th:field="*{employee_password}" />

								</td>
							</tr>
							<tr>
								<td>
									役職:
								</td>
								<td>
									<input type="text" class="inputgri"  th:field="*{job_title}"/>
								</td>
							</tr>
							<tr>
								<td>
									性別:
								</td>
								<td>
									<input type="radio" name="sex" value="男" th:checked="${employee.sex=='男'}"/>
									男
									<input type="radio" name="sex" value="女" th:checked="${employee.sex=='女'}"/>
									女
								</td>

							</tr>
							<tr>
								<td>
									部署名:
								</td>
								<td>
									<select name="department">
										<option value="">请选择</option>
										<option th:each="d:${departments}" th:value="${d.id}" th:text="${d.department}" th:selected="${d.id==employee.department}"></option>
									</select>

								</td>
							</tr>
							<tr>
								<td>
									住所:
								</td>
								<td>
									<input type="text" class="inputgri"  th:field="*{address}" />
								</td>
							</tr>
							<tr>
								<td>
									メールアドレス:
								</td>
								<td>
									<input type="text" class="inputgri" th:field="*{mail_address}"/>
								</td>
							</tr>
							<tr>
								<td>
									携帯電話:
								</td>
								<td>
									<input type="text" class="inputgri" th:field="*{phone_number}"/>
								</td>
							</tr>
							<tr>
								<td>
									雇用形態:
								</td>
								<td>
									<select th:field="*{employment_status}"  id="option" >
										<option value="正社員">正社員</option>
										<option value="契約社員">契約社員</option>
									</select>

								</td>
							</tr>
							<tr>
								<td>
									入社年月日:
								</td>
								<td>
									<input type="date" class="inputgri"  th:field="*{hire_date}"/>
								</td>
							</tr>
							<span th:if="${errorMsg}" class="errorMsg1" th:text="errorMsg"></span>
							<tr>
								<td>
									誕生日：
								</td>
								<td>
									<input type="date" class="inputgri" th:field="*{birth_date}"/>
								</td>
							</tr>
							<tr>
								<td>
									雇用保険番号：
								</td>
								<td>
									<input type="text" class="inputgri"  th:field="*{insurance_number}"/>
								</td>
							</tr>
							<tr>
								<td>
									年金番号：
								</td>
								<td>
									<input type="text" class="inputgri" th:field="*{annuity_number}"/>
								</td>
							</tr>
							<tr>
								<td>
									職位ランク:
								</td>
								<td>
									<select name="position">
										<option value="">请选择</option>
										<option th:each="p:${position}" th:value="${p.id}" th:text="${p.position}" th:selected="${p.id==employee.position}"></option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									今の履歴書：
								</td>
								<td>
									<a th:href="@{/employee/download(resume=${employee.resume})}" th:download="${employee.resume}" th:text="*{employee_name+'履歴書'}"></a>
								</td>
							</tr>
							<tr>
								<td>
									新しい履歴書:
								</td>
								<td>
									<input type="file" class="resumeFile" name="resumeFile" accept=".xls,.doc,.docx,.pdf">
								</td>
							</tr>
						</table>
						<button class="button1" type="submit"  formaction="update">更新</button>
						<button class="button4" type="submit" formaction="exportPdf">打印</button>
					</form>
					<button class="button2" href="javascript:;"  th:onclick="'deleteEmployee('+${employee.emplyee_id}+')'">
						削除
					</button>
					<button class="button3" onclick="refresh()">戻る</button>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
	<script>
		function deleteEmployee(emplyee_id){
			if (window.confirm('本当にこのレコードを削除しますか？')){
				location.href = '[[@{/employee/delete?emplyee_id=}]]'+emplyee_id;
			}
		}

		function refresh(){
			location.href='[[@{/employee/lists}]]'
		}
	</script>
</html>
